
<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
        <h3>Listing details:</h3>
        </div>
        <div class="card col-6 offset-3 show-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listings_image">
            <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b> <br>
                <%= listing.description %> <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                <%= listing.location %> <br>
                <%= listing.country %> <br>
            </p>
            </div>
            <div class="btns">
                <a class="btn btn-dark add-btn" href="/listings/<%= listing._id %>/edit">Edit</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark ms-3">Delete</button>
                </form>
            </div>
         </div>
    </div> 
</body>
