
<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
        <h3><%= listing.title %></h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listings_image">
            <div class="card-body">
            <p class="card-text">
                <%= listing.description %> <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                <%= listing.location %> <br>
                <%= listing.country %> <br>
            </p>
            </div>
            <div class="btns">
                <a class="btn btn-dark add-btn" href="/listings/<%= listing._id %>/edit">Edit</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark ms-3">Delete</button>
                </form>
            </div>
         </div>

         <div class="col-8 offset-3 mb-3">
            <hr>
            <h4>Leave a Rerview</h4>
            <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment"  class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Write a short description</div> 
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>

            <div>
                <h4> All Reviews</h4>
                <div class="row">
                    <% for( review of reviews){ %>
                        <div class="card col-5 ms-3 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Yuvraj Rathod</h5>
                                <p class="card-text"><%= review.comment %></p>
                                <p class="card-text"><%= review.rating %> star</p>
                                <form class="mb-3" method="POST" action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

         </div>
    </div> 
</body>
